[submodule "ThirdParty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
